@using Newtonsoft.Json;
@using OtisTechMobileApp.Models.InputModels;
@using OtisTechMobileApp.Models.ViewModels.Errands;
@using AutoMapper;
@inject IApiService apiService;
@inject NavigationManager navManager;
@page "/Errand/{ErrandId}"
@page "/Errand/"

<h3>Errand</h3>

<MudTable T="ErrandView" Items="errand">
    <HeaderContent>
        <MudTh>Errand Number</MudTh>
        <MudTh>Elavator Id</MudTh>
        <MudTh>Is Resolved</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Errand Number">@context.ErrandNumber</MudTd>
        <MudTd DataLabel="Elevator Id">@context.Elevator.Id</MudTd>
        <MudTd DataLabel="Is Resolved">@context.IsResolved</MudTd>

    </RowTemplate>


</MudTable>
<MudSwitch Label="Errand resolved" @bind-Checked="@isResolved" Color="Color.Primary" />

<MudTextField @bind-Value="comment" Variant="Variant.Outlined"></MudTextField>



<MudButton>Update/Save with Comment</MudButton>

<MudButton OnClick="GoBack">Go back to list</MudButton>


@code {
    public List<ErrandView> errand { get; set; } = new List<ErrandView>();


    
    public ErrandView errandOne { get; set; } = new ErrandView();

    public ErrandInputModel errandInput { get; set; } = new ErrandInputModel();

    public bool isResolved { get; set; }
    

    [Parameter]
    public string? ErrandId { get; set; }

    public string? comment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var jsonObject = await apiService.GetAsync($"Errands/GetErrand", new Dictionary<string, string> { { "errandNumber", ErrandId! } });

        errandOne = JsonConvert.DeserializeObject<ErrandView>(jsonObject) ?? null!;

        var config = new MapperConfiguration(cfg => cfg.CreateMap<ErrandView, ErrandInputModel>().ReverseMap());
        var mapper = config.CreateMapper();

        var mappedInput = mapper.Map<ErrandInputModel, ErrandView>(errandInput);
        

        errand.Add(errandOne);
    }
    
    public void GoBack() => navManager.NavigateTo($"/");
    
    //public async Task SaveErrand()
    //{
    //    ErrandUpdateInputModel errandUpdateInput = new()
    //    {
    //        ErrandNumber = errandOne.ErrandNumber,
    //        Status = errandInput.ErrandUpdates.Status,
    //        IsResolved = isResolved,
    //        Message = comment,
     
    //    };
    //}

}
