@page "/"
@using Newtonsoft.Json;
@using OtisTechMobileApp.Models;
@inject IApiService apiService;
@inject NavigationManager navManager;


<h1>Otis TechApp</h1>

<MudText>Current active errands:</MudText>


@*tabell!!!

endast hissar med aktiva errands!
länkar till separat lista med errands
visa vem som är listad som ansvarig för ärendet
lista ärenden, ta in prop för errand lista till varje hiss.
ta in lista på techs - dropdown på varje ärende


*@

<MudTable T="Elevators" Items="elevs">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Location</MudTh>
        <MudTh>Go to</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Location">@context.Location</MudTd>
        <MudTd DataLabel="Expand">
            <MudLink Href="@($"Errand/{context.Id}")">Expand @context.Id</MudLink>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudButton OnClick="LoadData">Load data</MudButton>

@code{

    public ErrandView errandView { get; set; }

    public List<Elevators> elevs { get; set; } = new List<Elevators>();
    public class Elevators
    {
        public Guid Id { get; set; }
        public string Location { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        elevs = JsonConvert.DeserializeObject<List<Elevators>>(await apiService.GetAsync("Elevators/GetElevators"));
    }

    public async Task LoadData()
    {
        elevs = JsonConvert.DeserializeObject<List<Elevators>>(await apiService.GetAsync("Elevators/GetElevators"));
    }

    public void RedirecToErrand(string Id) => navManager.NavigateTo($"Errand/{Id}");
}